[submodule "lib/sead"]
	path = lib/sead
	url = https://github.com/open-ead/sead
[submodule "lib/nnheaders"]
	path = lib/nnheaders
	url = https://github.com/Makonede/nnheaders
[submodule "tools/botw-link"]
	path = tools/botw-link
	url = https://github.com/Makonede/botw-link
[submodule "lib/botw"]
	path = lib/botw
	url = https://github.com/Makonede/botw
