[submodule "lib/sead"]
	path = lib/sead
	url = https://github.com/open-ead/sead
[submodule "lib/nnheaders"]
	path = lib/nnheaders
	url = https://github.com/open-ead/nnheaders
[submodule "ukmm/ukmm"]
	path = ukmm/ukmm
	url = https://github.com/NiceneNerd/ukmm.git
